@charset "UTF-8";
/* CSS Document */
*{
	margin:0; 
	padding:0;
}
.header
{
	height:100vh;
}
.navbar-style
{
	box-shadow: 0 5px 10px #efefef;
	text-transform: uppercase;
	background-color: white;
}
.logo
{
	height: 48px;
	padding: 2px 10px;
}
.icon-bar
{
	background: #ff704d;
}

li a 
{
	color: #333;
}
.big-text
{
	font-size: 52px; 
	margin: 20px 0; 
	color: #ff704d;
}
a.btn
{
	margin: 30px 10px; 
	width: 150px;
	padding:10px; 
	border-radius:20px;
}
a.btn-first
{
	background-color: #ff704d;
	color: #fff;
}
a.btn-second
{
	background: transparent; 
	border: 1px solid #ff704d;
	color: #333;
}
a.btn:hover
{
	background: #ff704d;
	border: none;
	color: #fff;
	box-shadow: 5px 5px 10px #999;
	transition: 0.3s;
}
.banner-info, .banner-image
{
	margin: 30px 0;
}
body 
{
	background-color: #ffebe6;
}

.col-md-4
{
	background-color: #fff;
}